*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color:#999;
}
ul{
  list-style: none;
}
#app {
  text-align: center;
  background: #f0f0f0;
}
.el-main{
  background:#fff;
  box-shadow:1px 1px 20px rgba(76,76,76,.2);
  border:none;
  padding: 0;
}
.el-table thead{
  color:#6e6e6e;
}
.el-form-item__label{
  color: #222222 !important;
}
.el-input__inner{
  border:1px solid #e2e2e2;
  height: 30px;
  border-radius: 0;
}
.el-main .el-table th {
  text-align: center;
  padding: 5px 0;
  background: #e2e2e2;
}
.el-main .el-table td{
  text-align: center;
}
.el-main .search .el-button--primary {
  background-color: #008aff !important;
  border-color:  #008aff !important;
  border-radius: 0;
}
.el-main .search .add{
  margin-right: 8px;
}
.block {
  text-align: center!important;
}
.el-pager li.active {
  background: #0086f7!important;
  color: #fff;
}
.el-pager li{
  min-width: 28px;
  height: 28px;
}
.el-pagination{
  color:#bbb;
  font-weight: 500;
}
.el-button--small, .el-button--small.is-round{
  padding: 6px 10px;
}
.el-button--info {
  background-color: #fff!important;
  border: 1px solid #FF6400 !important;
  color: #FF6400 !important;
}
.el-pagination__total {
  margin-left: 10px;
}
.el-main .el-table {
  background: #fff;
  border: 1px solid #e2e2e2;
  color:#666
}

.el-main .info {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #ababab;
}
.mainRight {
  background: #fff;
}

.mainRight .borderBottom {
  border-bottom: 1px solid #e2e2e2;
  text-align: left;
  line-height:50px;
  height: 50px;
  font-size: 14px;
  padding-left: 30px;
  color: #9b9b9b;
  letter-spacing: 0.1em;
}
.el-menu-item-group__title{
  padding: 0;
}
